/* CSS Document */

body
{ 
	background-image:url('../img/background_lowres.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	height: 100%;
	width: 100%;
}

#pagewrap {
	display: block;
	width: 960px;
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
	margin-bottom: 50px;
}

#taalkiezen {
	display: block;
	width: 100%;
	color: white;
	font-family: Verdana, sans-serif;
}

.rechts {
	float:right
}

#header {
	position: relative;
	display: block;
	width: 960px;
	height: 391px;
	margin: 0 auto;
	margin-top: 30px;
	background: url('../img/header_bg.png') left center no-repeat; 
}

/*ul {
	width: 400px;
	margin: 50px auto;
}*/

#main-nav {
	/*list-style-type: none;*/
	padding: 10px;
	margin-top: 20px;
	color: white;
	text-align:center
}

#content {
	position: relative;
	display: block;
	width: 800px;
	margin: 0 auto 100px auto;
	padding: 0 80px 100px 80px;
	float: left;
	background: url('../img/pattern.jpg') top center repeat-y;
}

.shadow {
    box-shadow: 0 7px 5px 2px rgba(0,0,0,.15);
}

/* TEKST EIGENSCHAPPEN ------------------------------*/

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 45pt;
	font-weight:bold;
	color: white;
	text-align:center;
	margin: 40px 0 20px 0;
	text-shadow: 3px 3px 2px rgba(0,0,0,.15);
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30pt;
	color: white;
	text-align:center;
	text-shadow: 2px 2px 2px rgba(0,0,0,.15);
}

/* BLAUWE TITELS ------------------------------*/
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24pt;
	font-weight:bold;
	color: #51bfd3;
	text-align:left;
	margin: 40px 0 20px 0;
	text-shadow: 0 1px 5px rgba(255,255,255,0.4);
}

h4 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24pt;
	font-weight:bold;
	color: #51bfd3;
	text-align:left;
	margin: 48px 0 20px 0;
	padding-top: 48px;
	border-top:4px solid #51bfd3;
	text-shadow: 0 1px 5px rgba(255,255,255,0.4);
}

/* IN TEKST TITELS ------------------------------*/
h5 {
	font-family: Verdana, Geneva, sans-serif;
	color: #51bfd3;
	font-size: 15pt;
	font-weight:bold;
	text-align:left;
	margin: 20px 0 5px 0;
	text-shadow: 0 1px 5px rgba(255,255,255,0.4);
}

h6 {
	font-family: Verdana, Geneva, sans-serif;
	color: #51bfd3;
	font-size: 100%;
	font-weight:bold;
	text-align:left;
	margin: 20px 0 5px 0;
	text-shadow: 0 1px 5px rgba(255,255,255,0.4);
}

p {
	line-height: 1.2em;
	color: #606262;
	margin: 5px 0;
	text-shadow: 0 1px 5px rgba(255,255,255,0.4);
}

.p1 {
	color: #51bfd3;
	text-decoration:none;
}

.ptaal {
	font-size: .8em;
	color: white;
	text-decoration: underline;
}

.taal {
	font-size: .8em;
	color: white;
	font-family: Verdana, sans-serif;
}


.pcenter{
	text-align: center;
	font-style: italic;
}

ul.inText {
	width: 700px;
	line-height: 1.2em;
	color: #606262;
	/*margin: 5px 0;*/
	text-shadow: 0 1px 5px rgba(255,255,255,0.4);
	margin-left:2em;
}

/* PROPERE LINKS ------------------------------*/

/* IN TEKST LINKS ------------------------------*/

a.inText:link {
	color: #51bfd3;
	text-decoration: none;
}

a.inText:visited {
	color: #51bfd3;
	text-decoration: none;
}

a.inText:active {
	color: #51bfd3;
	text-decoration: none;
}

a.inText:hover {
	color: #51bfd3;
	text-decoration: underline;
}

/* TITEL NIET ONDERLIJNEN ------------------------------*/

a.titel:hover {
	text-decoration: none;
}

/* NAVIGATIE ------------------------------*/
a.navi:link {
	color: white;
	text-decoration: none;
}

a.navi:visited {
	color: white;
	text-decoration: none;
}

a.navi:active {
	color: white;
	text-decoration: none;
}

a.navi:hover {
	color: white;
	text-decoration: none;
}

/*li {
	display: inline;
	list-style-type: none;
	text-shadow: 2px 2px 2px rgba(0,0,0,.15);
}*/

/* TAALSELECTIE ------------------------------*/
a.taal {
	font-size: 13px;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
}

a.taal:link {
	color: white;
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
	/*text-decoration: none;*/
}

a.taal:visited {
	color: white;
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
	/*text-decoration: none;*/
}

a.taal:active {
	color: white;
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
	/*text-decoration: none;*/
}

a.taal:hover {
	color: white;
	font-size: 13px;
	text-decoration: underline;
	font-family: Verdana, Geneva, sans-serif;
}

/* INPUT ------------------------------*/

.mac {
	width: 300px;
	height: 1.2em;
    display: block;
    margin: 0 auto;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    color: #333;
    box-shadow: 
        inset 0 2px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1);
}
 
.mac:focus {
    outline: none;
    box-shadow: 
        inset 0 2px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1), 
        0 0 5px 1px #51CBEE;
}

.bcenter{
	width: 200px;
	margin: 0 auto;
}

.button{
	width: 300px;
	margin: 0 auto;
	padding: 10px;
	background-color: #51bfd3;
	border: none;
	font-family: Verdana, sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	color: white;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background 0.2s;
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;	
	transition: background 0.2s;
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: initial;
	transition-delay: initial;
	box-shadow: 0 1px 5px rgba(255,255,255,0.4);
}
.button:hover {
	background-color: #50a3b3;
}





.logos_container_seperator{
	height: 90px;
}

.logos_container {
    height: 125px;
    margin-top:5px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    min-width: 800px;
    top: 50%;
    margin-top: -62.5px;/* half of #content height*/
}

.logo_box {
	left:50%;
	margin-left:-75px;/* half width*/
    width: 150px;
    height: 125px;
    display: inline-block;
    zoom: 1;
    margin: auto;
}
.logos_stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.logo_box img {
	max-width:100%;
	text-align: center;
	display : block;
    vertical-align: middle;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
    position: absolute;
}


.logo_frame {  
    margin: 1em 0;  
    height: 35px;
    width: 160px;
    position: relative;
    vertical-align: middle;
}  

